#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--priamry-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header-logo {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}
.header-logo img {
    width: 40px;
    height: 100%;
}

.navbar-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    padding: 0 10px;
}
.navbar-toggle {
    color: #ffffff;
}

.main-menu .menu-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    height: 100%;
}

.main-menu .menu-item a {
    flex: 1;
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 600;
    height: 100%;
}

.main-menu .menu-item a:hover {
    text-decoration: none;
}

.sub-menu-toggle {
    padding: 10px 20px;
}

.main-menu .sub-menu {
    width: 100%;
    display: none;
}

.main-menu .sub-menu .menu-item a {
    font-weight: 400;
    padding-left: 40px;
}

.main-menu-ul {
    max-height: 0;
    transition: max-height 0.15s linear;
    overflow: auto;
}

.main-menu-ul.active {
    max-height: 1000px;
}
.sub-menu.active {
    display: block;
}

@media screen and (min-width: 1024px) {
    #navbar {
        display: flex;
    }
    .header-logo {
        border-bottom: none;
    }
    .main-menu-ul {
        max-height: none;
        display: flex;
        align-items: center;
        height: 100%;
        overflow: visible;
    }
    .main-menu .menu-item a {
        line-height: 1;
        padding: 20px;
        transition: all 0.15s linear;
    }
    .main-menu .menu-item a:hover {
        background-color: #ffffff;
        color: var(--priamry-color);
    }
    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        z-index: 100;
    }
    .main-menu .menu-item:hover > .sub-menu {
        display: block;
        min-width: 200px;
        background-color: var(--priamry-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .navbar-button {
        display: none;
    }
    .sub-menu-toggle {
        display: none;
    }
}